cmp-spoyler {
	display: block;
} 
	cmp-spoyler .title {
		display: flex;
		justify-content: space-between;
		padding: 3px 10px 6px 10px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background: var( --bg-t );
		color: #fff;
		cursor: pointer;
	} 
		cmp-spoyler .title:hover {
			color: #ff0;
		} 












