cmp-each-people {
	color: #fff;
} 

	cmp-each-people .internet {
		margin: 20px 0 5px 0;
	} 
		cmp-each-people .internet a {
	
		} 

			cmp-each-people .internet a img {
				height: 35px;
				margin: 1px 5px;

			} 







	cmp-each-people .section1 {
		margin: 0 0 10px 0;
		text-align: center;
	}
		cmp-each-people .section1 .title-name {
			margin: 0 0 10px 0;
			font-size: 35px;
			font-weight: bold;
		}
		cmp-each-people .section1 .img {
			height: 300px;
			weight: 300px;
			/*position: relative;*/
		}
			cmp-each-people .section1 .img img {
				height: 100%;
				weight: 100%;
				border-radius: 10px;
			}

		cmp-each-people .section1 .img .ribbon {
			height: 100%;
			weight: 100%;
			margin-left: -310px;
		}








	cmp-each-people .section2 {
		margin: 0 0 30px 0;
		text-align: center;
	}




	cmp-each-people .section3 {
		margin: 0 0 30px 0;
	}




















