cmp-menu { 
	width: 200px;
	margin: 0;
	padding: 0;

	display: block;
	padding: 5px;
	border-radius: 5px;
	background-color: #ddd;
} 
	cmp-menu .btn {
		margin: 0 0 1px 0;
		padding: 10px 30px;
		text-align: center;
		border-radius: 5px;
		font-weight: bold;
		border: 1px solid #fff;
		background: linear-gradient( to bottom, #bbb, #eee );
		color: #000;
	} 
		cmp-menu .btn:hover { 
			background: var( --bg-b );
			color: #fff;
		} 

	cmp-menu .filters {
		/*margin: 0 0 20px 0;*/
	} 
		cmp-menu .filters .title {
			margin: 0;
			padding: 1px 10px;
			font-weight: bold;
			border-radius: 5px;
			background: linear-gradient( to bottom, #ccc, #fff );
			cursor: pointer;
		} 
			cmp-menu .filters .title:hover {
				background: var( --bg-b );
				color: #fff;
			} 

		cmp-menu .filters .body {
			margin: 10px 0 20px 0;
		} 







	cmp-menu select.color {

		background-color: #f00; 
		color: #fff;
	}











