cmp-movie {
	display: block;
	color: #fff;
} 
	cmp-movie .title {
		display: flex;
		justify-content: space-between;
		padding: 3px 10px 6px 10px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background: var( --bg-t );
	} 
		cmp-movie .title .pm {
			color: #999;
		}


		cmp-movie .title .txt .rating5 {
			color: #ff0;
		}
		cmp-movie .title .txt .rating5p {
			color: #0f0;
		}












	cmp-movie .body {
		padding: 0 10px 0 10px;
	} 





	cmp-movie .section1 {
		margin: 0 -5px 20px -10px;
		padding: 0 0 5px 0;
		text-align: center;

		/*border: 0 solid var( --bg2 );*/
		border-top-width: 1px;

		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		background: var( --bg-b );
	} 
		cmp-movie .section1 .title-en {
			margin: 0 5px;
			font-size: 30px;
			font-weight: bold;
		} 
		cmp-movie .section1 .title-ua {
			margin: 10px 0 0 0;
			font-style: oblique;
			color: #ff0;
		} 
		cmp-movie .section1 .year {
			font-size: 20px;
			font-weight: bold;
		} 

	cmp-movie .section2 {
		display: flex;
		margin: 0 0 0px 0;
	}
		cmp-movie .section2 .img img {
			border-radius: 10px;
		} 
		cmp-movie .section2 .internet {
			margin: 0 0 0 10px;
		}
			cmp-movie .section2 .internet a img {
				height: 50px;
				margin: 0 0 5px 0;
			}

	cmp-movie .section3 {
		margin: 0 0 20px 0;
	}
		cmp-movie .section3 .keyval {
			/*margin: 0 0 20px 0;*/
		}
			cmp-movie .section3 .keyval .key {
				/*margin: 0 0 20px 0;*/
				font-style: oblique;
				color: #aaa;
			}

	cmp-movie .section4 {
		margin: 0 0 20px 0;
	}
		cmp-movie .section4 .hashtag {
			display: inline-block;
			margin: 2px;
			padding: 1px 15px;
			border-radius: 5px;
			background: var( --bg-b );
			color: #ccc;
		}
			cmp-movie .section4 .hashtag:hover {
				background: var( --bg-t );
				color: #fff;
			}

	cmp-movie .section5 {
		margin: 0 0 20px 0;
	}






