cmp-win-index {
	/*
	all: unset;
*/

	display: block;



	/*height: 500px;*/









	background: red;
	background: var( --bg-r );
	color: lime;
}



	cmp-win-index #logo {

		/*height: 100%;*/

		margin: 150px 0;



		display: flex;
		justify-content: center; /* Центр горизонталь */
		align-items: center;     /* Центр вертикаль */






	}








/*



	cmp-win-index .each {
		margin: 2px;
		padding-bottom: 30px;
		border: 1px solid #aaa;
		border-radius: 10px;
	}
		cmp-win-index .each .title {
			padding: 10px;
			border-radius: 10px;
			text-align: center;
			font-size: 150%;
			font-weight: bold;
			background: var( --bg-b );
			color: #fff;
		}
			cmp-win-index .each .title .titleUa .n-each {
				font-weight: normal;
				color: #777;
			}

			cmp-win-index .each .title .titleEn {
				font-size: 70%;
				color: #aaa;
				font-weight: normal;
			}
			cmp-win-index .each .title .star5 {
				color: yellow;
			}
			cmp-win-index .each .title .ok5 {
				font-weight: normal;
				color: lime;
			}






		cmp-win-index .each .descr {
			color: #fff;
		}
			cmp-win-index .each .descr .txt {
				margin: 0 0 15px 0;
			}
				cmp-win-index .each .descr .txt .hash {
					color: #777;
				}

				cmp-win-index .each .descr .txt .key {
					color: #aaa;
				}

			cmp-win-index .each .descr .internet {

			}
				cmp-win-index .each .descr .internet a  {

				}
					cmp-win-index .each .descr .internet a img {
						height: 30px;
						width: 80px;
					}


	cmp-win-index .each .info {
		display: flex;
		margin: 5px 0 0 0;
	}

	cmp-win-index .each .info .img {
		margin: 0 10px 0 5px;
	}
		cmp-win-index .each .info .img img {
			border-radius: 10px;
		}



*/


	



