cmp-cast {

} 


cmp-cast .each-cast {
	margin: 0 0 10px 0;
}



	cmp-cast .each-cast .each-person {
		height: 100px;
		width: 100px;
		margin: 1px;
		display: inline-block;
	} 
		cmp-cast .each-cast .each-person img {
			height: 100%;
			width: 100%;
			border-radius: 5px;
		} 



