cmp-win-movies {
	color: #fff;
} 






	cmp-win-movies .each-movie .title {
		padding: 2px 10px;
		border-radius: 5px;




		background: var( --bg-b );




	} 




	cmp-win-movies .each-movie .body {
		padding: 2px 2px 10px 20px;




	} 










